@{
	ViewBag.Title = "Despre noi";
}

<p>
	Pizza? Ai pofta de pizza? Daca doresti sa mananci ceva bun esti unde trebuie! Treci direct la meniu si comanda-ti cea mai gustoasa pizza L(28cm) sau XXL(50cm) pe care ai mancat-o vreodata, iar noi ti-o livram direct la tine acasa.Din meniul nostru nu lipsesc clasicele Pizza Quattro Stagioni, Pizza Venetia sau Pizza Capriciosa si multe altele .
</p><p>	Sau poate preferi specialitatea casei – Pizza Ciresica ?</p>
<p>
	Cat despre livrare, stai linistit, „stim unde stai!”
</p>
<p>
	Daca pe langa pizza, mai doresti si altceva, nimic mai simplu esti liber sa alegi din meniul nostru .
</p>
<p>
	Avem in meniu specialitati din carne(porc si pui), paste, salate,deserturi si bauturi, ceea ce inseamna ca poti sa comanzi la domiciliu cea mai variata gama de mancaruri si de alte bunatati.De asemenea stim ceea ce inseamna o pizza rece de aceea de la noi nu veti primi decat bauturile reci. Normal, doar faci parte din marea familie a Pizzeriei Ciresica si ca in orice familie care se respecta nu te vom lasa balta niciodata. Iata doar cateva dintre cele mai populare pizza L(28cm) si XXL(50cm) pe care le avem in meniu: Pizza Ciresica,Pizza alla Bolognese, Pizza Quattro Formaggi, Pizza Quattro Stagione, Pizza Prosciuto , Pizza Picanti, Pizza Margherita, Pizza Hawai, Pizza Tonno ,Pizza Vegetariana ( si de post ).
</p>
