@{
	ViewBag.Title = "Home Page";
}
<body>

	<div class="container">
		<div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-height: 571px">
			<div class="carousel-inner">
				<div class="item active">
					<img width="571" height="571" src="/Images/food2.jpg">
				</div>
				<div class="item">
					<img width="571" height="571" src="/Images/food3.jpg">
				</div>
				<div class="item">
					<img width="571" height="571" src="/Images/food4.jpg">
				</div>
			</div>

			<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			<div class="carousel-caption">
				<div style="position:relative;">
					<div style="color:#ddd;background-color:#8f0222;opacity: .8;text-align:center;padding:50px 80px;text-align: justify;">
						<address>
							<h2>Good Food Industries</h2>
							<p class="lead">GoodFoodIndustries este un website despre mancare si comandarea acesteia de catre dumneavoastra.</p>
						</address>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<h2>Bine ati venit!</h2>
		<p>
			Daca ai potfa de mancare buna ziua tovarase ca aici avem mancare!

		</p>

		<p>Cu suflet, cu pasiune, cu responsabilitate si multa munca in echipa, am creat un meniu complex , in care bucataria traditionala si internationala se imbina armonios.</p>
		<p>
			Sintagma noastra pentru mentinerea calitatii este simpla: intotdeauna se folosesc cele mai bune si proaspete ingrediente!
		</p>
		<p>Cheia succesului nostru: mancarea buna, calitate, curatenie,  servicii prompte si politicoase.</p>
	</div>

</body>